.about {
  
  &__content {
    background-color: $darkbeige;
    background-image: url("/images/about-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-bottom: 2rem;

    @include breakpoint-down(medium) {
      background-image: url("/images/about-bg-mobile.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    @include breakpoint-up(large) {
      display: flex;
    }
  }

  &__image {
    background-image: url("/images/about-img.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 12.5rem;
    height: clamp(12.5rem, 0.6027918781725887rem + 50.76142131979695vw, 25rem);
    max-width: calc(100% - 5rem);
    margin: auto;
    margin-bottom: 2rem;

    @include breakpoint-up(large) {
      flex: 1;
      order: 2;
      max-width: 29.583125rem;
    }
  }

  &__text {
    width: calc(100% - 5rem);
    text-align: center;
    margin: auto;

    @include breakpoint-up(large) {
      flex: 1;
      order: 1;
      max-width: 600px;
      text-align: left;
      margin: 0;
      margin-left: 15rem;
    }
  }
}

#about {
  background-color: $darkbeige;
  margin-bottom: 2rem;
}