.awards {
  background-image: url("/images/awards-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  @include breakpoint-down(medium) {
    background-image: url("/images/awards\ bg\ tablet.png");
  }

  @include breakpoint-down(small) {
    background-image: url("/images/awards\ bg\ mobile.png");
  }

  h1 {
    color: $beige;
  }
  
  &__wrapper {
    padding-block: 80px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  &__item {
    grid-column: 1 / span 4;
    text-align: center;

    @include breakpoint-up(medium) {
      grid-column: span 2;
      gap: 4rem 10px;
    }

    @include breakpoint-up(large) {
      grid-column: span 1;
    }

    img {
      max-width: calc(100% - 5rem);
      border: 1px $darkbrown solid;
      height: 265px;

      @include breakpoint-up(large) {
        width: 17.0625rem;
      }
    }

    h3 {
      color: $black;
      font-size: 1rem;
    }
  }

  &__btn {
    background-color: $darkbeige;
    border: none;
    border-radius: 30px;
    color: $darkbrown;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 13px;
    padding: 0.75rem 1.125rem;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    margin-bottom: 2rem;
    transition: all 300ms ease-in-out;
  }

  &__btn:hover {
    background-color: $beige;
  }

  &__link {
    text-decoration: underline;
    font-weight: 700;
    color: $darkbrown;
  }

  &__modal {
    max-width: calc(100% - 5rem);
    border: none;
    border-radius: 30px;

    @include breakpoint-up(medium) {
      max-width: 25rem;
    }
  }
}
