.footer {
  background-color: $black;
  color: $beige;
  padding: 2.5rem;
  text-align: center;

  a {
    color: $beige;
  }

  &__container {
    @include breakpoint-up(large) {
      display: grid;
      grid-template-columns: repeat(3, 1fr) 2fr;
      grid-template-rows: 1fr auto;
      grid-template-areas: 
        "logo links1 links2 copyright"
        "social links1 link2 copyright";
      justify-items: start;
    }
  }

  &__logo {
    display: inline-block;
    
    font-family: "DM Serif Display", serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: $darkbeige;

    @include breakpoint-down(medium) {
      margin-bottom: 1.875rem;
    }
    @include breakpoint-up(large) {
      grid-area: logo;
    }
  }

  &__social{
    @include breakpoint-down(medium) {
      margin-bottom: 1.875rem;
    }

    a {
      display: inline-block;
      height: 1.25rem;
      
      &:not(:last-child) {
        margin-right: 1rem;
      }

      svg path {
        fill: $darkbeige;
        transition: fill 300ms ease-in-out;
      }

      &:hover svg path {
        fill: $brown;
      }
    }

    @include breakpoint-up(large) {
      grid-area: social;
      align-self: start;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9375rem;

    @include breakpoint-up(large) {
      justify-content: space-between;
      align-items: start;
    }

    a {
      text-decoration: none;
      //line-height: 2.25;
      color: $darkbeige;
      transition: all 300ms ease-in-out;

      @include breakpoint-down(medium) {
        line-height: 2.25;
      }
    }
    a:hover {
      color: $brown;
    }

    &.col1 {
      @include breakpoint-up(large) {
        grid-area: links1;
      }
    }

    &.col2 {
      @include breakpoint-down(medium) {
        margin-bottom: 1.875rem;
      }

      @include breakpoint-up(large) {
        grid-area: links2;
      }
    }

  }

  &__copyright {
    font-size: 0.8rem;

    @include breakpoint-up(large) {
      grid-area: copyright;
      text-align: right;
      justify-self: end;
    }
  }
}