// COLORS
$beige: hsl(39, 35%, 92%);
$darkbeige: hsl(39, 32%, 86%);
$brown: hsl(25, 34%, 46%);
$chest: hsl(26, 49%, 32%);
$darkbrown: hsl(24, 25%, 24%);
$black: hsl(18, 16%, 12%);
$darkblack: hsl(15, 10%, 8%);