html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

@media (prefers-reduce-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  margin: 0;
  padding: 0;
  background-color: hsl(39, 35%, 92%);
  font-family: "Inter", sans-serif;
  line-height: 1.3;
  color: hsl(24, 25%, 24%);
  overflow-x: hidden;
  font-size: 1rem;
  background-image: url("/images/hero-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 64rem;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
@media (min-width: 40em) {
  body {
    font-size: 1.5rem;
  }
}
@media (min-width: 64em) {
  body {
    font-size: 1rem;
  }
}
@media (max-width: 63.9375em) {
  body {
    background-image: url("/images/hero-bg-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 31.25rem;
  }
}

body::-webkit-scrollbar {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

.sticky {
  z-index: 10000000000000000000000;
  position: fixed;
  top: 0;
  width: 100%;
}

h1 {
  font-family: "Playfair Display", serif;
  color: hsl(25, 34%, 46%);
  text-align: center;
  padding-left: 0;
  padding-top: 2rem;
  font-size: 1.5625rem;
  font-size: clamp(1.5625rem, 0.6702093909rem + 3.807106599vw, 2.5rem);
}

.underline {
  color: hsl(25, 34%, 46%);
  font-weight: 600;
  text-decoration: underline;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}

.header {
  transition: all 300ms ease-in-out;
}
.header nav {
  padding: 1.5rem;
}
.header__logo {
  font-family: "DM Serif Display", serif;
  font-size: 1.5rem;
  text-decoration: none;
  color: hsl(24, 25%, 24%);
}
.header__scrolled {
  background-color: hsl(18, 16%, 12%);
  position: fixed;
  top: 0;
  width: 100%;
}
.header__scrolled .header__logo {
  color: hsl(39, 32%, 86%);
}
.header__toggle {
  position: absolute;
  right: 1.5rem;
  z-index: 9999;
}
.header__toggle > span {
  display: block;
  height: 3px;
  width: 24px;
  background-color: hsl(39, 32%, 86%);
  transform-origin: 2px 1px;
  transition: all 300ms ease-in-out;
}
.header__toggle > span:not(:last-child) {
  margin-bottom: 4px;
}
.header__toggle.open > span:first-child {
  transform: rotate(45deg);
}
.header__toggle.open > span:nth-child(2) {
  opacity: 0;
}
.header__toggle.open > span:last-child {
  transform: rotate(-45deg);
}

.primary-navigation {
  position: fixed;
  z-index: 1000;
  list-style: none;
  padding: 0;
  margin: 0;
  inset: 0 0 0 40%;
  flex-direction: column;
  padding: min(30vh, 8rem) 2rem;
  background: hsl(18, 16%, 12%);
  gap: 3.4375rem;
  -webkit-font-smoothing: antialiased;
  transition: transform 500ms cubic-bezier(0.77, 0.2, 0.05, 1);
  transform: translateX(100%);
}
@media (min-width: 40em) {
  .primary-navigation {
    inset: 0 0 0 60%;
  }
}
@media (min-width: 64em) {
  .primary-navigation {
    inset: 0 0 0 80%;
  }
}
.primary-navigation a {
  position: relative;
  text-decoration: none;
  color: hsl(39, 32%, 86%);
  font-size: 1.2rem;
  font-weight: 600;
}
.primary-navigation a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 4px;
  background-color: hsl(39, 32%, 86%);
  bottom: -5px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.primary-navigation a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.primary-navigation a:hover {
  color: white;
}

.primary-navigation[data-visible=true] {
  transform: translateX(0%);
}

.hero {
  padding-top: 5rem;
}
@media (min-width: 64em) {
  .hero {
    display: flex;
  }
}
.hero__image {
  background-image: url("/images/hero-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 28.125rem;
  height: clamp(28.125rem, 7.3048857868rem + 88.8324873096vw, 50rem);
  max-width: 43.75rem;
  margin: auto;
}
@media (min-width: 64em) {
  .hero__image {
    flex: 1;
    order: 2;
    margin-right: 4rem;
  }
}
.hero__type {
  text-decoration: underline;
  font-style: italic;
}
.hero__text {
  text-align: center;
  clear: right;
  z-index: -100;
}
.hero__text p {
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;
  font-size: clamp(1.2rem, 0.9144670051rem + 1.2182741117vw, 1.5rem);
  margin: 0;
}
@media (max-width: 63.9375em) {
  .hero__text p:not(:last-child) {
    padding-top: 2rem;
  }
  .hero__text p:not(:first-child) {
    padding-bottom: 2rem;
  }
}
.hero__text h1 {
  padding-top: 0;
  margin: 0;
  font-family: "DM Serif Display", serif;
  font-size: 3rem;
  font-size: clamp(3rem, 1.0964467005rem + 8.1218274112vw, 5rem);
  text-align: center;
}
@media (min-width: 64em) {
  .hero__text {
    flex: 1;
    order: 1;
    height: inherit;
    margin: auto;
    text-align: left;
    padding-left: 2rem;
    padding-left: clamp(2rem, -3.2347715736rem + 22.3350253807vw, 7.5rem);
  }
  .hero__text p {
    padding-bottom: 0;
  }
  .hero__text h1 {
    text-align: left;
  }
}

.about__content {
  background-color: hsl(39, 32%, 86%);
  background-image: url("/images/about-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-bottom: 2rem;
}
@media (max-width: 63.9375em) {
  .about__content {
    background-image: url("/images/about-bg-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}
@media (min-width: 64em) {
  .about__content {
    display: flex;
  }
}
.about__image {
  background-image: url("/images/about-img.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 12.5rem;
  height: clamp(12.5rem, 0.6027918782rem + 50.7614213198vw, 25rem);
  max-width: calc(100% - 5rem);
  margin: auto;
  margin-bottom: 2rem;
}
@media (min-width: 64em) {
  .about__image {
    flex: 1;
    order: 2;
    max-width: 29.583125rem;
  }
}
.about__text {
  width: calc(100% - 5rem);
  text-align: center;
  margin: auto;
}
@media (min-width: 64em) {
  .about__text {
    flex: 1;
    order: 1;
    max-width: 600px;
    text-align: left;
    margin: 0;
    margin-left: 15rem;
  }
}

#about {
  background-color: hsl(39, 32%, 86%);
  margin-bottom: 2rem;
}

.projects__wrapper {
  padding-block: 80px;
}
.projects__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 40em) {
  .projects__grid {
    gap: 4rem 1.5rem;
  }
}
.projects__item {
  grid-column: 1/span 2;
  text-align: center;
}
@media (max-width: 39.9375em) {
  .projects__item:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 40em) {
  .projects__item {
    grid-column: span 1;
  }
}
.projects__item img {
  max-width: calc(100% - 5rem);
}
@media (min-width: 64em) {
  .projects__item img {
    max-width: calc(100% - 2rem);
  }
}
.projects__item h3 {
  color: hsl(26, 49%, 32%);
}
.projects__item__border {
  border: 1px solid hsl(39, 32%, 86%);
}
.projects__tags {
  font-size: 0.8rem;
  font-size: clamp(0.8rem, 0.5144670051rem + 1.2182741117vw, 1.1rem);
  margin-top: 0;
}
.projects__tags > span:not(:last-child) {
  margin-right: 2rem;
}
.projects__links a {
  position: relative;
  text-decoration: none;
  color: hsl(24, 25%, 24%);
  font-size: 0.9rem;
  font-size: clamp(0.9rem, 0.6144670051rem + 1.2182741117vw, 1.2rem);
  font-weight: 600;
}
.projects__links a:not(:last-child) {
  margin-right: 3rem;
}
.projects__links a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 4px;
  background-color: hsl(25, 34%, 46%);
  bottom: -5px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.projects__links a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.projects__links a:hover {
  color: hsl(25, 34%, 46%);
}
.projects__name {
  font-size: 1rem;
  font-size: clamp(1rem, 0.5241116751rem + 2.0304568528vw, 1.5rem);
  line-height: 1.3;
  font-weight: 700;
}
.projects__image {
  margin-bottom: 1px;
  display: block;
}

.awards {
  background-image: url("/images/awards-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
@media (max-width: 63.9375em) {
  .awards {
    background-image: url("/images/awards bg tablet.png");
  }
}
@media (max-width: 39.9375em) {
  .awards {
    background-image: url("/images/awards bg mobile.png");
  }
}
.awards h1 {
  color: hsl(39, 35%, 92%);
}
.awards__wrapper {
  padding-block: 80px;
}
.awards__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.awards__item {
  grid-column: 1/span 4;
  text-align: center;
}
@media (min-width: 40em) {
  .awards__item {
    grid-column: span 2;
    gap: 4rem 10px;
  }
}
@media (min-width: 64em) {
  .awards__item {
    grid-column: span 1;
  }
}
.awards__item img {
  max-width: calc(100% - 5rem);
  border: 1px hsl(24, 25%, 24%) solid;
  height: 265px;
}
.awards__item h3 {
  color: hsl(18, 16%, 12%);
  font-size: 1rem;
}
.awards__btn {
  background-color: hsl(39, 32%, 86%);
  border: none;
  border-radius: 30px;
  color: hsl(24, 25%, 24%);
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 13px;
  padding: 0.75rem 1.125rem;
  text-align: center;
  text-decoration: none;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 2rem;
  transition: all 300ms ease-in-out;
}
.awards__btn:hover {
  background-color: hsl(39, 35%, 92%);
}
.awards__btn:active {
  box-shadow: hsl(24, 25%, 24%) 2px 2px 0 0;
  transform: translate(2px, 2px);
}
.awards__link {
  text-decoration: underline;
  font-weight: 700;
  color: hsl(24, 25%, 24%);
}
.awards__modal {
  max-width: calc(100% - 5rem);
  border: none;
  border-radius: 30px;
}
@media (min-width: 40em) {
  .awards__modal {
    max-width: 25rem;
  }
}

.footer {
  background-color: hsl(18, 16%, 12%);
  color: hsl(39, 35%, 92%);
  padding: 2.5rem;
  text-align: center;
}
.footer a {
  color: hsl(39, 35%, 92%);
}
@media (min-width: 64em) {
  .footer__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 2fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "logo links1 links2 copyright" "social links1 link2 copyright";
    justify-items: start;
  }
}
.footer__logo {
  display: inline-block;
  font-family: "DM Serif Display", serif;
  font-size: 1.5rem;
  text-decoration: none;
  color: hsl(39, 32%, 86%);
}
@media (max-width: 63.9375em) {
  .footer__logo {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 64em) {
  .footer__logo {
    grid-area: logo;
  }
}
@media (max-width: 63.9375em) {
  .footer__social {
    margin-bottom: 1.875rem;
  }
}
.footer__social a {
  display: inline-block;
  height: 1.25rem;
}
.footer__social a:not(:last-child) {
  margin-right: 1rem;
}
.footer__social a svg path {
  fill: hsl(39, 32%, 86%);
  transition: fill 300ms ease-in-out;
}
.footer__social a:hover svg path {
  fill: hsl(25, 34%, 46%);
}
@media (min-width: 64em) {
  .footer__social {
    grid-area: social;
    align-self: start;
  }
}
.footer__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9375rem;
}
@media (min-width: 64em) {
  .footer__links {
    justify-content: space-between;
    align-items: start;
  }
}
.footer__links a {
  text-decoration: none;
  color: hsl(39, 32%, 86%);
  transition: all 300ms ease-in-out;
}
@media (max-width: 63.9375em) {
  .footer__links a {
    line-height: 2.25;
  }
}
.footer__links a:hover {
  color: hsl(25, 34%, 46%);
}
@media (min-width: 64em) {
  .footer__links.col1 {
    grid-area: links1;
  }
}
@media (max-width: 63.9375em) {
  .footer__links.col2 {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 64em) {
  .footer__links.col2 {
    grid-area: links2;
  }
}
.footer__copyright {
  font-size: 0.8rem;
}
@media (min-width: 64em) {
  .footer__copyright {
    grid-area: copyright;
    text-align: right;
    justify-self: end;
  }
}/*# sourceMappingURL=style.css.map */