html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

@media (prefers-reduce-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: $beige;
  font-family: "Inter", sans-serif;
  line-height: 1.3;
  color: $darkbrown;

  overflow-x: hidden;

  font-size: 1rem;

  @include breakpoint-up(medium) {
    font-size: 1.5rem;
  }

  @include breakpoint-up(large) {
    font-size: 1rem;
  }

  background-image: url("/images/hero-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 64rem;

  @include breakpoint-down(medium) {
    background-image: url("/images/hero-bg-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 31.25rem;
  }

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}
.no-scroll {
  overflow: hidden;
}

.sticky {
  z-index: 9999999999999999999999;
  position: fixed;
  top: 0;
  width: 100%
}

h1 {
  font-family: "Playfair Display", serif;
  color: $brown;
  text-align: center;
  padding-left: 0;
  padding-top: 2rem;
  font-size: 1.5625rem;
  font-size: clamp(1.5625rem, 0.6702093908629443rem + 3.807106598984771vw, 2.5rem);
}

.underline {
  color: $brown;
  font-weight: 600;
  text-decoration: underline;
}

// Flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}